services:
  postgres:
    image: ankane/pgvector:v0.5.0
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ragdb
      - PGPASSWORD=postgres
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -U postgres -d ragdb"
      interval: 2s
      timeout: 20s
      retries: 10
  ollama:
    networks:
      - ollama-net
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11431:11434"
    volumes:
      - ./ollama:/root/.ollama
    environment:
    - OLLAMA_NUM_GPU=1
    runtime: nvidia
    entrypoint: >
      /bin/sh -c "
              ollama serve &
              sleep 5 &&
              echo 'Pulling gemma3:4b-it-q4_K_M...' &&
              ollama pull gemma3:4b-it-q4_K_M &&
              echo 'Pulling mxbai-embed-large...' &&
              ollama pull mxbai-embed-large &&
              echo 'Ollama models ready. Keeping server running.' &&
              wait
            "
    restart: no
networks:
  ollama-net:
    driver: bridge
    internal: false  # ✅ Правильно: сеть НЕ изолирована